<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Measurements.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Measurements.Properties.Settings>
            <setting name="ShowGenie" serializeAs="String">
                <value>"PUTVIEW /xy=1,1 /cxcy=-100,-75 /NO_DATASRC"

</value>
            </setting>
            <setting name="StartStrings" serializeAs="String">
                <value>"ECHO OFF"
"REXXFCTS"
CALL G2KENVMT
IF RC &lt;&gt; 0 THEN EXIT

</value>
            </setting>
            <setting name="addDetectors" serializeAs="String">
                <value>"PVOPEN DET:"detname" /EXPAND"
</value>
            </setting>
        </Measurements.Properties.Settings>
    </userSettings>
</configuration>